body {
  background-color: #dcdcdc;
  display: flex;
  height: 100%;
}
.container {
  background-color: #fff;
  margin: 1%;
}
.header-container {
  display: flex;
  background-color: #f0f0f0;
}
.header-content {
  flex-direction: row;
  display: flex;
  align-items: center;
  flex: 1;
  width: 100%;
  margin: 1%;
}
.name {
  display: flex;
  align-items: center;
  font-size: 24px;
}
.icon {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
i {
  color: #000000;
}
nav {
  display: flex;
  background-color: #a9a9a9;
}
.navbar {
  word-spacing: 15px;
  margin: 2%;
}
.navbar a {
  color: #000000;
  font-size: 20px;
  display: inline-block;
}
.main-container {
  background-color: #ffffff;
  height: 100%;
  margin: 5%;
}
.title {
  font-size: 16px;
  justify-content: center;
  align-items: center;
}
section {
  justify-content: center;
  align-items: center;
}
footer {
  display: flex;
  background-color: #a9a9a9;
  width: 100%;
  margin: 1px;
}

.copy {
  display: flex;
  align-items: center;
  font-size: 14px;
}
.branding {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
