<!DOCTYPE HTML>
</html>
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href='/css/style.css' rel='stylesheet'>


    <script src="https://kit.fontawesome.com/fc1268369e.js" crossorigin="anonymous"></script>
</head>
<body>

	<div class="container">
        
        <header class="main-h">
            <h2 class="banner">Kirstie Langan<i class="fab fa-github fa-lg"></i> </h2> 
        </header>

	<nav>
        <div class="navbar">

        <a href="https://github.com/Kirstie-Langan/kirstie-langan.github.io.git">Home</a>  <a href="https://github.com/Kirstie-Langan">Github</a>  
        </div>
    </nav>

	<main class="main-section">
        <header>
            <h4>CSS Layouts</h4>
        </header>
        <section>
		<p>Dictum varius duis at consectetur. Nunc id cursus metus aliquam eleifend mi in. Phasellus egestas tellus rutrum tellus pellentesque eu. Hendrerit gravida rutrum quisque non tellus orci. Urna condimentum mattis pellentesque id nibh tortor id aliquet lectus. Malesuada nunc vel risus commodo viverra maecenas. Malesuada fames ac turpis egestas maecenas pharetra convallis. Facilisi nullam vehicula ipsum a. Ultricies lacus sed turpis tincidunt id aliquet risus feugiat in. Eu consequat ac felis donec et odio pellentesque diam</p>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. In pellentesque massa placerat duis ultricies lacus sed turpis tincidunt. Odio facilisis mauris sit amet massa vitae tortor. Sit amet venenatis urna cursus eget nunc scelerisque. Dolor sit amet consectetur adipiscing elit. Congue eu consequat ac felis donec. In eu mi bibendum neque egestas. Sit amet porttitor eget dolor morbi non. Tristique sollicitudin nibh sit amet commodo nulla facilisi nullam vehicula. Pulvinar neque laoreet suspendisse interdum consectetur libero id faucibus nisl. Elit ullamcorper dignissim cras tincidunt lobortis feugiat. Suspendisse interdum consectetur libero id faucibus nisl. Curabitur vitae nunc sed velit dignissim. Elit ut aliquam purus sit amet luctus venenatis lectus. Fermentum posuere urna nec tincidunt praesent semper feugiat. Arcu odio ut sem nulla. Arcu cursus euismod quis viverra nibh cras.</p>
        </section>
    </main>

	<footer>
		<p>&copy;Kirstie Langan, 2022   <i class="branding">Github</i></p>
   
	</footer>
</div>

</body>
</html>
